<!DOCTYPE html>
<div>
  <a class="topic" id="drip" href="https://itunes.apple.com/us/app/drip/id1309335824?ls=1&mt=8" target="_blank">
    <div class="word" id="trans">drip</div>
  </a>
  <a class="topic" id="center-topic">
    <div class="word" id="trans">center</div>
  </a>
</div>
